# markdown
## markdown
### markdown
#### markdown
##### markdown

- python
    - python 1
    - python 2
       - python 1
       - python 2
-  *pyhton*
-  **python**
-  ***python***

# VARIABLES

In [1]:
print("hello world")

hello world

In [2]:
print("venkata sai prasad")

venkata sai prasad

In [4]:
print("one","two","three")

one two three

In [5]:
print("HELLO WORLD")

HELLO WORLD

In [6]:
a = 10 # single variables assaigned to single value
print(a)

10

In [7]:
a = b= c= 10 # multiple variables assaigned to single values
print(a,b,c)

10 10 10

In [10]:
a,b,c = 10,20,30 # multiple variables assaigned to multiple values
print(a,b,c)

10 20 30

# DATA TYPES
 - int
 - float
 - string

In [12]:
# float
f = 1.2
print(f,type(f))

1.2 <class 'float'>

In [13]:
# string
s = "python"
print(s)
print(type(s))

python
<class 'str'>

# DATA Conversions:
 - integer--> **int**
 - float   -->**float**
 - string   -->**str**

In [14]:
n = 10
print(n,type(n))
f = float(n)
print(f,type(f))
s = str(n)
print(s,type(s))

10 <class 'int'>
10.0 <class 'float'>
10 <class 'str'>

In [15]:
f = 10.5
print(f,type(f))
i = int(f)
print(i,type(i))
s = str(f)
print(s,type(s))

10.5 <class 'float'>
10 <class 'int'>
10.5 <class 'str'>

In [16]:
s = "12345"
print(s,type(s))
i = int(s)
print(i,type(i))
f = float(s)
print(f,type(f))

12345 <class 'str'>
12345 <class 'int'>
12345.0 <class 'float'>

In [11]:
# int
a = 5
print(a)
print(type(a))

5
<class 'int'>

# Display three string “Name”, “Is”, “James” as “Name**Is**James”

In [18]:
a="NAME"
b="**IS**"
c="JAMES"
print(a,b,c)

NAME **IS** JAMES

# INPUT FUNCTIONS:
- reads input from user

In [20]:
# input as text
a = input("enter your name")
print("my name is:",a)
print(type(a))

enter your namebobby
my name is: bobby
<class 'str'>

In [21]:
# input as number
q = int(input("enter a number:"))
print(q)
print(type(q))

enter a number:10
10
<class 'int'>

# Write a Python program which accepts the radius of a circle from the user and compute the area .

In [22]:
radius=int(input("enter radius:"))
area=3.14*radius*2
print("area of circle is:",area)

enter radius:55
area of circle is: 345.40000000000003

# Accept two numbers from the user and return their sum, multiplication and division

In [23]:
a=int(input("enter a value:"))
b=int(input("enter a value:"))
print("addition is:",a+b,"multiplication is:",a*b,"division is:",a/b)

enter a value:5
enter a value:5
addition is: 10 multiplication is: 25 division is: 1.0

# Using input() function, print() function and another function you may need; ask for the current year, then print the answer +50.

In [25]:
year=int(input("enter a year:"))
print("results=",year+50)

enter a year:2000
results= 2050